.over-budget {
    background-color: red;
    color:white;

}
.under-budget{
    background-color: #000000;
    color:white;

}
.zero-budget{
  background-color: #000000;
  color:white;

}
.five-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 5%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 100%); 
}
.ten-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 10%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 100%); 
}
.twenty-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 20%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%); 
}
.thirty-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 30%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%); 
}
.forty-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 40%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%); 
}
.fifty-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 40%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%); 
}
.sixty-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 60%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%); 
}
.seventy-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 70%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%); 
}
.eighty-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 80%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 100%); 
}
.ninety-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 90%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%); 
}
.ninefive-budget{
  color:white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 95%, rgba(0,0,0,1) 95%, rgba(0,0,0,1) 100%); 
}
.required-box{
  border-style: dashed;
  color:red;
}
.required-text{
  color:red;
  font-size: .6em;
}
/* GLOBAL TYPOGRAPHY */
body {
    background-color: #dcdcdc;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
  }
  /* FLEXBOX LAYOUT */
  html, body {
    min-height: 100vh;
    margin: auto;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  header {
    height: 8em;
    background-color: #4412b8;
    text-align: center;
  }
 
  main {
    flex: auto;
    max-width: 80%;
    margin: auto;
  }
  footer {
    height: 8em;
    text-align: center;
  }
  .searchStuff {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: auto;
    margin-right: 0px;
    justify-content: space-around;
    padding: .5em;
    margin-top: 1.2em
  }
  #searchButton{
    max-height: 30px
  }
  .aboveTable {
    display: flex;
    align-content: baseline;

  }
  /* HEADER/FOOTER */
header, footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* FORM ELEMENTS */
input {
  padding: .5em;
  width: 150px;
  background: #FCFCFC;
  border: 1px solid;
}
button {
  padding: .5em;
  width: 75px;
}


/* TABLE */
table {
  width: 100%;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 2.15em;
}
th, td {
  padding: .5em;
  min-width: 3.5em;
}
thead {
  background: #7a7a7a;
  color: #fcfcfc;
}
tbody tr:nth-child(odd){ 
  background: #fcfcfc;
}
tbody tr:nth-child(even){
  background: #dcdcdc;
}
.main-titles{
    font-size: 2.5em;
    color: #454545;
}
.salary-title{
  color: whitesmoke
}